.wrapper {
  border-bottom: 1px solid rgba(135, 135, 135, 0.2);
  padding: 16px 0;
}

.hotelHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotelFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotelTitle {
  font-family: inherit;
  font-weight: 300;
  font-size: 17px;
  line-height: 22px;
  color: var(--black);
}

.hotelDate {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: var(--darkGray);
}

.hotelPrice {
  justify-self: start;
  font-family: inherit;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  color: var(--black);
}

.price {
  font-weight: 300;
  font-size: 11px;
  color: var(--darkGray);
}
