.title {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;

  font-style: normal;
  color: var(--black);
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.l {
  font-size: 40px;
}

.m {
  font-size: 24px;
}

.s {
  font-size: 20px;
}

@media screen and (max-width: 768px) {
  .large {
    font-size: 30px;
  }

  .medium {
    font-size: 20px;
  }

  .small {
    font-size: 18px;
  }
}
