body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

:root {
  --primaryGradient: 104.34deg, #41522e -15.34%, #be8022 145.95%;
  --activeGradient: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)
  );
  --red: #e55858;
  --green: #41522e;
  --yellow: #cdbc1e;
}
