.wrapper {
  display: flex;
  background-color: var(--gray);

  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}

.container {
  /* background-color: var(--gray); */

  display: grid;
  grid-template-columns: 360px 664px;
  grid-template-rows: 410px 472px;
  gap: 24px;
  grid-template-areas:
    ". block"
    ". block";
}
.block {
  grid-area: block;
}
